*{
    margin:0;
    padding:0;
}

body{
    font-family: arial, helvetica, sans-serif;
    background: #fffffA;
}

//INICIO MENU//

.menu{
    width: 100%;
}

header nav{
    width: 100%;
    max-width: 100%;
    margin: auto auto;
    background: green;
}

.menu_bar{
    display: none;
}

.body{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    text-decoration: none;
}

h1{
    color: white;
}

h1:hover{
    color: #C8E6C9;
}
   
.logo{
    font-size: 25px;
    float: left;
    margin:5px;
    margin-right: 33%;
    margin-left: 20px; 
}

header nav ul{
    overflow: hidden;
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    color:#fff;         
    padding: 20px;
    display: block;
    text-decoration: none;
    font-size: 15px;
}

header nav ul li span{
    margin-right: 10px;
}

header nav ul li a:hover{
    background: #4CAF50;
}



@media screen and (max-width: 1300px){
    header nav {
        width: 80%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .menu_bar{
        display: block;
        width: 100%;
        background: #ccc;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: green;
        color:#fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }

    .menu_bar span{
        float: right;
        font-size: 40px;
    }

}

//CIERRE MENU//


//INICIO PRODUCTOS//

.pacifico{
    font-family: 'pacifico', cursive;
}

.text-center{
    text-align: center;
    font-size: 25px;
}

.text-green{
    color: green;
}

.main-container{
    min-height: 100vh;
}

.navbar-header img{
    height: 30px;
}

.product img{
    width: 200px;
}

.product h3{
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card{
    padding-top: 20px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

//CIERRE PRODUCTO//